[submodule "Assets/Sponza"]
	path = Assets/Sponza
	url = https://github.com/jimmiebergmann/Sponza.git
[submodule "Assets/Glock17"]
	path = Assets/Glock17
	url = https://github.com/xt9y/Glock17.git
[submodule "Assets/Earth"]
	path = Assets/Earth
	url = https://github.com/xt9y/Earth.git
